* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right bottom, #aef2d9, #adbcf0);
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100;
    height: 100vh;
}

.容器 {
    width: 80%;
    margin: 0 auto;
}

.メインコンテナ {
    display: flex;
    /*background: white;*/
    background: url(img/background.jpg);
    width: 450px;
    /*max-width: 670px;*/
    height: 600px;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    position: relative;
    filter: drop-shadow(0 10px 10px);
    color: #ebd1e0;
}

.メインコンテナの上部 {
    text-align: center;
    z-index: 999;
}

.メインコンテナの上部 h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 2;
    font-size: 50px;
    color: #e072b4;
}

.メインコンテナの上部 h2 {
    padding: 10px;
    color: #000;
}

.メインコンテナの上部 input, .メインコンテナの上部 button {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
}

.メインコンテナの上部 input {
    background: linear-gradient(to right bottom, #8ae4eb, #ebd1e0);
    color: #000;
    font-size: 20px;
    border-radius: 15px 0px;
    text-align: center;
    border-width: 0px;
}

.メインコンテナの上部 input:focus {
    width: 350px;
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline-color: #8ae4eb;
    box-shadow: 0 0 10px 10px #8ae4eb;
}

.メインコンテナの上部 input::placeholder {
    color: grey;
}

.メインコンテナの上部 button {
    background: linear-gradient(to left bottom, #e072b4, #ebd1e0);
    border: none;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    text-transform: lowercase;
    transition: 0.5s;
}

.メインコンテナの上部 button:hover {
    background: aliceblue;
    transition: 0.3s;
    filter: drop-shadow(0 1px 4px);
}

.メインコンテナの上部 button:active {
    background: #ebd1e0;
    filter: drop-shadow(0 10px 10px);
    color: #e072b4;
}

.メインコンテナの上部 .エラー {
    color: red;
    font-size: 18px;
    font-weight: 600;
}

.位置 {
    line-height: 2;
}

.位置 .街 {
    font-size: 21px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    transition: .3s;
    color: #000;
}

.容器 {
    padding-top: 15px;
    position: relative;
    color: #000;
}

.容器::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    top: 0;
    left: 0;
    background: linear-gradient(to right bottom, #8ae4eb, #e072b4);
}

.容器 img {
    width: 90px;
}