* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right bottom, #aef2d9, #adbcf0);
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100;
    height: 100vh;
}

.容器 {
    width: 100;
}

.メインコンテナ {
    display: flex;
    /*background: white;*/
    background: url(img/background.jpg);
    width: 450px;
    /*max-width: 670px;*/
    height: 600px;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    position: relative;
}

/*.メインコンテナ::before {
    content: '';
    position: absolute;
}*/

.メインコンテナの上部 {
    text-align: center;
    z-index: 999;
}

.メインコンテナの上部 h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 2;
    font-size: 50px;
    color: #e072b4;
}

.メインコンテナの上部 h2 {
    padding: 10px;
}

.メインコンテナの上部 input, .メインコンテナの上部 button {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
}

.メインコンテナの上部 input {
    background: linear-gradient(to right bottom, #8ae4eb, #ebd1e0);
    color: #000;
    font-size: 20px;
    border-radius: 15px 0px;
    text-align: center;
    border-width: 1px;
}

.メインコンテナの上部 input:focus {
    font-size: 22px;
}

.メインコンテナの上部 input::placeholder {
    color: grey;
}

.メインコンテナの上部 button {
    background: linear-gradient(to left bottom, #e072b4, #ebd1e0);
    border: none;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer; 
}

.メインコンテナの上部 button:hover {
    background: aliceblue;
    transition: 0.3s;
}

.メインコンテナの上部 .エラー {
    color: red;
    font-size: 18px;
    font-weight: 600;
}

.位置 {
    line-height: 2;
}