* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right bottom, #aef2d9, #adbcf0);
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100;
    height: 100vh;
}
.容器 {
    width: 100;
}

.メインコンテナ {
    display: flex;
    /*background: white;*/
    background: url(img/background.jpg);
    width: 350px;
    /*max-width: 670px;*/
    height: 500px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;

}